@keyframes zoominout {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.img-next {
  display: block;
  margin: 0px auto;
  width: 80%;
  margin-top: 200px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  animation: zoominout 3s infinite;
}
.title-next {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #2a2a2a;
  font-size: 18px;
}
.txt-next {
  margin-top: 12px;
  font-weight: 300;
  text-align: center;
  color: #2a2a2a;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 24px;
}
.btn-next {
  display: block;
  margin: 0px auto;
  width: 80%;
  height: 45px;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  span {
    font-weight: bold;
    text-align: center;
  }
}
@media only screen and (min-width: 320px) {
  .img-next {
    display: block;
    margin: 0px auto;
    width: 80%;
    margin-top: 200px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    animation: zoominout 3s infinite;
  }
  .title-next {
    display: block;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    color: #2a2a2a;
    font-size: 18px;
  }
  .txt-next {
    display: block;
    margin-top: 12px;
    font-weight: 300;
    text-align: center;
    color: #2a2a2a;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 24px;
  }
  .btn-next {
    display: block;
    margin: 0px auto;
    width: 80%;
    height: 45px;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    span {
      font-weight: bold;
      text-align: center;
    }
  }
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1280px) {
  .img-next{
    width: 35%;
  }
  .title-next{
    display: none;
  }
  .txt-next{
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
}