<ion-content color="light">
  <div class="next-one">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/MercadoLibre_logo.PNG/320px-MercadoLibre_logo.PNG"
      alt="img"
      class="img-next"
    />
    <h3 class="title-next">Welcome to MercadoLibre App</h3>
    <p class="txt-next">
      Mercado libre exist since 18 years ago, born how a entrepreneurship at a
      garage in Argentina from a different idea of ​​shopping in the national
      market, creating an online market for the negotiation of a wide variety of
      property and services; standing out for be easy, safe and efficient.
    </p>
  </div>
</ion-content>
