.img{
    width: 100%;
}
.title{
    font-weight: bold;
    color: #2a2a2a;
    text-align: left;
    padding-left: 10px;
}
.txt-quantity{
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 0px;
}
.txt-price{
    font-size: 40px;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}
.containt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    ion-button{
        width: 100%;
        height: 50px;
        span{
            font-weight: bold;
        }
    }
}
.btn-add-favorites{
    width: 100%;
    --background:#fff159;
    --background-activated:#fff159;
    ion-icon{
        color: #2a2a2a;
    }
    span{
        color: #2a2a2a;
        font-weight: bold;
    }
}
@media only screen and (min-width: 768px) {
    .img{
        height: 500px;
    }
}