<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="12">
            <img [src]="data.thumbnail" alt="img" class="img" />
            <ion-row>
              <ion-col size="6">
                <p class="txt-quantity">
                  {{ data.condition }} - {{ data.sold_quantity }} sold out
                </p>
              </ion-col>
              <ion-col size="6">
                <ion-button
                  shape="round"
                  class="btn-add-favorites"
                  (click)="goFav(data)"
                >
                  <ion-icon name="add-circle-outline" slot="start"></ion-icon>
                  <span>Add fav</span>
                </ion-button>
              </ion-col>
            </ion-row>

            <p class="title">{{ data.title }}</p>
            <p class="txt-price">$ {{ data.price }}</p>
            <p class="txt-description">{{ description.plain_text }}</p>
            <div class="containt-btn">
              <ion-button color="primary"><span>Shop now</span></ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>