<ion-header>
  <ion-toolbar color="warning">
    <ion-row>
      <ion-col size-lg="2" size="3">
        <div class="content-logo">
          <img
            src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.5/mercadolibre/logo__small.png"
            alt="logo"
            loading="lazy"
            class="img-logo"
          />
        </div>
      </ion-col>
      <ion-col size-lg="10" size="9">
        <ion-searchbar
          placeholder="Search..."
          mode="ios"
          (ionChange)="search($event)"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="title">Welcome to Mercado Libre LATAM</h1>
      </ion-col>
      <div *ngIf="show">
        <h3 class="subtitle">¡Please search something!</h3>
      </div>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-lg="4" size-md="6" *ngFor="let items of data | filter: textSearch;"
      (click)="goDetail(items)">
          <ion-card mode="ios">
            <ion-img [src]="items.thumbnail"></ion-img>
            <ion-card-content>
              <ion-col size="12" size-lg="6">
                <ion-row>
                  <ion-col size="8"
                    ><p class="txt">
                      {{ items.price | currency }} {{ items.currency_id }}
                    </p></ion-col
                  >
                  <ion-col size="4">
                    <div *ngIf="items.shipping.free_shipping === false">
                      <div class="circle-fal">
                        <ion-icon name="bicycle-outline"></ion-icon>
                      </div>
                    </div>
                    <div *ngIf="items.shipping.free_shipping === true">
                      <div class="circle-tr">
                        <ion-icon name="bicycle-outline"></ion-icon>
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <p class="txt-address">{{ items.address.city_name }}</p>
                <p class="txt-title">
                  {{items.title }} - <span>{{ items.condition }}</span>
                </p>
              </ion-col>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>