// -----------------------------------------------------------------------------
// This file contains basic styles for the component.
// -----------------------------------------------------------------------------
.content-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  .img-logo {
    width: 100%;
    margin-top: 10px;
  }
}
ion-searchbar {
  margin-top: 10px;
}

ion-col {
  padding-left: 20px;
  padding-right: 20px;
}
.title {
  color: #2a2a2a;
  font-weight: bold;
  text-align: left;
}
.subtitle {
  color: #2a2a2a;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-img {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}
.txt {
  color: #2a2a2a;
  font-weight: bold;
  text-align: left;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: -12px;
}

.txt-title {
  font-weight: bold;
  color: #2a2a2a;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  span {
    font-weight: 300;
  }
}
.txt-address {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 0px;
  font-weight: 300;
}
.circle-fal {
  background: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: inline-block;
  ion-icon {
    margin-left: 4px;
    margin-top: 4px;
    color: #fff;
  }
}
.circle-tr {
  background: green;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  display: inline-block;
  ion-icon {
    margin-left: 4px;
    margin-top: 4px;
    color: #fff;
  }
}
@media only screen and (min-width: 320px) {
  .content-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    .img-logo {
      width: 100%;
      margin-top: 10px;
    }
  }
  ion-searchbar {
    margin-top: 10px;
  }

  ion-col {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title {
    color: #2a2a2a;
    font-weight: bold;
    text-align: left;
  }
  .subtitle {
    color: #2a2a2a;
    text-align: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ion-img {
    width: 100%;
    margin-bottom: 10px;
  }
  .txt {
    color: #2a2a2a;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -12px;
  }

  .txt-title {
    font-weight: bold;
    color: #2a2a2a;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    span {
      font-weight: 300;
    }
  }
  .txt-address {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 0px;
    font-weight: 300;
  }
  .circle-fal {
    background: tomato;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: inline-block;
    ion-icon {
      margin-left: 4px;
      margin-top: 4px;
      color: #fff;
    }
  }
  .circle-tr {
    background: green;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    display: inline-block;
    ion-icon {
      margin-left: 4px;
      margin-top: 4px;
      color: #fff;
    }
  }
}
@media only screen and (min-width: 768px) {
  .content-logo{
    .img-logo{
      width: 35%;
    }
  }
}
@media only screen and (min-width: 1280px) {
  .content-logo{
    .img-logo{
      width: 30%;
    }
  }
}
@media only screen and (min-width: 1440px) {
}
