<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="div-add-fav" *ngIf="dataFav >= 0">
          <div class="containt-img">
            <img
              src="https://http2.mlstatic.com/frontend-assets/ui-navigation/5.14.5/mercadolibre/logo__large_plus.png"
              alt="img"
              class="img"
            />
          </div>
          <p class="txt-alert">
            ¡Welcome to MercadoApp, <br /><span>Please add favorites!</span>
          </p>
        </div>
        <ion-col size="12" *ngIf="dataFav != []">
          <ion-row>
            <ion-col size="6" *ngFor="let data of dataFav">
              <img [src]="data.thumbnail" alt="img" class="img" />
              <ion-row>
                <ion-col size="6">
                  <p class="txt-quantity">
                    {{ data.condition }} - {{ data.sold_quantity }} sold out
                  </p>
                </ion-col>
              </ion-row>
              <p class="title">{{ data.title }}</p>
              <p class="txt-price">$ {{ data.price }}</p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>