.containt-img {
  display: flex;
  justify-content: center;
  align-items: center;
  .img {
    width: 50%;
  }
}

.title {
  font-weight: bold;
  color: #2a2a2a;
  text-align: left;
  padding-left: 10px;
}
.txt-quantity {
  text-align: left;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}
.txt-price {
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 20px;
}
.div-add-fav {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}
.txt-alert {
  font-size: 30px;
  font-weight: bold;
  color: #2a2a2a;
  text-align: center;
  span {
    font-weight: 300;
  }
}